.filmsPosters {
  display: flex;
  margin-top: 40px;
  align-items: flex-end;
}

.filmsPoster {
  width: 100%;
  text-align: center;
  font-size: 12px;

  &Title {
    color: rgb(225, 225, 201);
  }

  &Year {
    color: rgb(225, 225, 201);
    font-weight: bold;
    margin: 5px 0;
  }

  &Score {
    color: rgb(252, 252, 252);
    font-weight: bold;
    margin: 10px 0 0;
    font-size: 14px;
    background-color: rgb(50 50 50);
  }

  &Container {
    max-width: 60px;
    margin: auto;
    border: solid 3px rgb(50 50 50);
    border-radius: 5px;
    height: 80px;
    overflow: hidden;
  }
}